/.vs/
/CMakeCache.txt
/Package/boost_1_74_0/b2.exe
/Package/boost_1_74_0/bin.v2/
/Package/boost_1_74_0/bootstrap.log
/Package/boost_1_74_0/project-config.jam
/Package/boost_1_74_0/stage/
/Source/Message/Debug/
/Source/Message/Message.dir/
/Source/Server/Debug/
/Source/Server/Server.dir/
/x64/
*.obj
*.obj.rsp
*.sln
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
cmake_install.cmake
CMakeFiles/
